{% extends "base2.html" %}
{% block architect_blog_three %}


    <body class="page page-template page-template-template-portfolio page-template-template-portfolio-php menu-left menu-collapsible">

    <!-- Preloader -->
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">
            <div class="windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div id="overlay"></div>

    <!-- Top header -->
    <div id="top" class="shadow">

        <!-- Sidebar button -->
        <a href="#" id="sidebar-button"></a>

        <!-- Logo -->
        <header id="logo"><a href="/"><img src="../../../static/architect/img/logo.svg" alt=""></a></header>

        <!-- Portfolio close button -->
        <a href="#" id="portfolio-close"></a>

    </div>

    <!-- Main wrapper -->
    <div id="main-wrapper">

        <!-- Content -->
        <div id="content" class="isotope-container">

            <!-- Fluid container -->
            <div class="container-fluid">

                <!-- Page heading -->
                <div id="heading" class="row">
                    <div class="col-12">

                        <header>
                            <h1>Блог</h1>

                            <h2>Три колонки</h2></header>

                    </div>
                </div>

                <!-- Main content -->
                <div class="row sidebar-right">
                    <div class="main-column col-9">

                        <!-- Masonry blog -->
                        <div class="masonry masonry-3 row">


                            <article
                                    class="post type-post status-publish format-standard has-post-thumbnail hentry category-europe category-park tag-europe tag-park tag-relaxing tag-sticky tag-strolling tag-walk blog col-4">
                                <div class="image"
                                     style="background-image: url(../../../static/architect/img/11.jpg)"></div>
                                <div class="inner">
                                    <i title="Sticky Post" class="sticky-icon fa fa-thumb-tack"></i>
                                    <header>
                                        <h3><a href="#" rel="bookmark">Strolling (Sticky post)</a></h3>

                                        <div class="vcard">
                                            <div class="date">On
                                                <time datetime="2014-04-17">April 17, 2014</time>
                                            </div>
                                            <address class="author">by <a href="#" class="fn">r6themes</a></address>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim eros.
                                        Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla, sed imperdiet
                                        eros. Suspendisse pellentesque dui gravida nisi mollis, fermentum sagittis
                                        ligula elementum. Nulla facilisi. Maecenas rutrum commodo ipsum, id lacinia
                                        massa. Nullam at laoreet tortor. Maecenas lacinia sed metus et lobortis.</p>

                                    <p><a href="##more-44" class="more-link">Read more</a></p>
                                </div>
                            </article>


                            <article
                                    class="post type-post status-publish format-standard hentry category-design tag-featured-image tag-test blog col-4">
                                <div class="inner">
                                    <header>
                                        <h3><a href="#" rel="bookmark">A Post Without Featured Image</a></h3>

                                        <div class="vcard">
                                            <div class="date">On
                                                <time datetime="2014-04-17">April 17, 2014</time>
                                            </div>
                                            <address class="author">by <a href="#" class="fn">r6themes</a></address>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim eros.
                                        Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla, sed imperdiet
                                        eros. Suspendisse pellentesque dui gravida nisi mollis, fermentum sagittis
                                        ligula elementum. Nulla facilisi. Maecenas rutrum commodo ipsum, id lacinia
                                        massa. Nullam at laoreet tortor. Maecenas lacinia sed metus et lobortis.</p>

                                    <p><a href="##more-46" class="more-link">Read more</a></p>
                                </div>
                            </article>


                            <article
                                    class="post type-post status-publish format-standard has-post-thumbnail hentry category-job tag-job tag-research tag-stocks blog col-4">
                                <div class="image"
                                     style="background-image: url(../../../static/architect/img/21.jpg)"></div>
                                <div class="inner">
                                    <header>
                                        <h3><a href="#" rel="bookmark">Uprising in Stocks (Comment nesting)</a></h3>

                                        <div class="vcard">
                                            <div class="date">On
                                                <time datetime="2014-04-17">April 17, 2014</time>
                                            </div>
                                            <address class="author">by <a href="#" class="fn">r6themes</a></address>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim eros.
                                        Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla, sed imperdiet
                                        eros. Suspendisse pellentesque dui gravida nisi mollis, fermentum sagittis
                                        ligula elementum. Nulla facilisi. Maecenas rutrum commodo ipsum, id lacinia
                                        massa. Nullam at laoreet tortor. Maecenas lacinia sed metus et lobortis.</p>

                                    <p><a href="##more-42" class="more-link">Read more</a></p>
                                </div>
                            </article>


                            <article
                                    class="post type-post status-publish format-standard has-post-thumbnail hentry category-coffee tag-coffee tag-relaxing blog col-4">
                                <div class="image"
                                     style="background-image: url(../../../static/architect/img/4.jpg)"></div>
                                <div class="inner">
                                    <header>
                                        <h3><a href="#" rel="bookmark">Best Cofee?</a></h3>

                                        <div class="vcard">
                                            <div class="date">On
                                                <time datetime="2014-04-17">April 17, 2014</time>
                                            </div>
                                            <address class="author">by <a href="#" class="fn">r6themes</a></address>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim eros.
                                        Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla, sed imperdiet
                                        eros. Suspendisse pellentesque dui gravida nisi mollis, fermentum sagittis
                                        ligula elementum. Nulla facilisi. Maecenas rutrum commodo ipsum, id lacinia
                                        massa. Nullam at laoreet tortor. Maecenas lacinia sed metus et lobortis.</p>

                                    <p><a href="##more-40" class="more-link">I&#8217;m a custom Read more text</a></p>
                                </div>
                            </article>


                            <article
                                    class="post type-post status-publish format-standard has-post-thumbnail hentry category-design category-europe category-job tag-job tag-project tag-workspace blog col-4">
                                <div class="image"
                                     style="background-image: url(../../../static/architect/img/6.jpg)"></div>
                                <div class="inner">
                                    <header>
                                        <h3><a href="#" rel="bookmark">Our Workspace</a></h3>

                                        <div class="vcard">
                                            <div class="date">On
                                                <time datetime="2014-04-17">April 17, 2014</time>
                                            </div>
                                            <address class="author">by <a href="#" class="fn">r6themes</a></address>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim eros.
                                        Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla, sed imperdiet
                                        eros. Suspendisse pellentesque dui gravida nisi mollis, fermentum sagittis
                                        ligula elementum. Nulla facilisi. Maecenas rutrum commodo ipsum, id lacinia
                                        massa. Nullam at laoreet tortor. Maecenas lacinia sed metus et lobortis.</p>

                                    <p><a href="##more-38" class="more-link">Read more</a></p>
                                </div>
                            </article>


                            <article
                                    class="post type-post status-publish format-standard has-post-thumbnail hentry category-europe tag-europe tag-shopping blog col-4">
                                <div class="image"
                                     style="background-image: url(../../../static/architect/img/7.jpg)"></div>
                                <div class="inner">
                                    <header>
                                        <h3><a href="#" rel="bookmark">Day for Shopping</a></h3>

                                        <div class="vcard">
                                            <div class="date">On
                                                <time datetime="2014-04-17">April 17, 2014</time>
                                            </div>
                                            <address class="author">by <a href="#" class="fn">r6themes</a></address>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim eros.
                                        Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla, sed imperdiet
                                        eros. Suspendisse pellentesque dui gravida nisi mollis, fermentum sagittis
                                        ligula elementum. Nulla facilisi. Maecenas rutrum commodo ipsum, id lacinia
                                        massa. Nullam at laoreet tortor. Maecenas lacinia sed metus et lobortis.</p>

                                    <p><a href="##more-36" class="more-link">Read more</a></p>
                                </div>
                            </article>


                        </div>

                        <div class="pagination-row row">
                            <div class="col-12">
                                <div class="pag"><span class='page-numbers current'>1</span>
                                    <a class='page-numbers' href='#'>2</a>
                                    <a class="next page-numbers" href="#">Next &raquo;</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-column col-3">

                        <aside id="search-2" class="widget widget_search inner">
                            <form role="search" method="get" id="searchform" action="#">
                                <div class="input-group">
                                    <input type="text" name="s" id="s" class="form-control" value=""
                                           placeholder="Search here...">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-color btn-icon-only"><i class="glyphicon glyphicon-search"></i>
            </button>
		</span>
                                </div>
                            </form>
                        </aside>
                        <aside id="recent-posts-2" class="widget widget_recent_entries inner"><h4>Recent Posts</h4>
                            <ul>
                                <li>
                                    <a href="#">A Post Without Featured Image</a>
                                </li>
                                <li>
                                    <a href="#">Strolling (Sticky post)</a>
                                </li>
                                <li>
                                    <a href="#">Uprising in Stocks (Comment nesting)</a>
                                </li>
                                <li>
                                    <a href="#">Best Cofee?</a>
                                </li>
                                <li>
                                    <a href="#">Our Workspace</a>
                                </li>
                            </ul>
                        </aside>
                        <aside id="recent-comments-2" class="widget widget_recent_comments inner"><h4>Recent
                            Comments</h4>
                            <ul id="recentcomments">
                                <li class="recentcomments"><span class="comment-author-link">Hodor</span> on <a
                                        href="##comment-9">Uprising in Stocks (Comment nesting)</a></li>
                                <li class="recentcomments"><span class="comment-author-link">r6themes</span> on <a
                                        href="##comment-8">Uprising in Stocks (Comment nesting)</a></li>
                                <li class="recentcomments"><span class="comment-author-link">r6themes</span> on <a
                                        href="##comment-7">Uprising in Stocks (Comment nesting)</a></li>
                                <li class="recentcomments"><span class="comment-author-link">r6themes</span> on <a
                                        href="##comment-6">Uprising in Stocks (Comment nesting)</a></li>
                                <li class="recentcomments"><span class="comment-author-link">r6themes</span> on <a
                                        href="##comment-5">Uprising in Stocks (Comment nesting)</a></li>
                            </ul>
                        </aside>
                        <aside id="archives-2" class="widget widget_archive inner"><h4>Archives</h4>
                            <ul>
                                <li><a href='#'>April 2014</a></li>
                            </ul>
                        </aside>
                        <aside id="categories-2" class="widget widget_categories inner"><h4>Categories</h4>
                            <ul>
                                <li class="cat-item cat-item-11"><a href="#">Coffee</a>
                                </li>
                                <li class="cat-item cat-item-4"><a href="#">Design</a>
                                </li>
                                <li class="cat-item cat-item-5"><a href="#">Europe</a>
                                </li>
                                <li class="cat-item cat-item-6"><a href="#">Job</a>
                                </li>
                                <li class="cat-item cat-item-7"><a href="#">Park</a>
                                </li>
                                <li class="cat-item cat-item-1"><a href="#">Uncategorized</a>
                                </li>
                            </ul>
                        </aside>
                        <aside id="meta-2" class="widget widget_meta inner"><h4>Meta</h4>
                            <ul>
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                <li><a href="#"
                                       title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>

            </div>

        </div>


    </div>

    </div>

    <!-- Portfolio full -->
    <div id="portfolio-full" class="portfolio-full portfolio-full-slidedown"></div>

    <!-- Collapsible sidebar -->
    <div id="sidebar">

        <!-- Widget Area -->
        <div id="widgets">

            <!-- Main menu -->
            <nav id="mainmenu">

                <ul id="menu-rayleigh-main-menu" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home"><a href="/">Главная</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                            href="/services.html/">Услуги</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                            href="#">Портфолио</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/portfolio_one.html/">1 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/portfolio_two.html/">2 колонки</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/portfolio_three.html/">3 колонки</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/portfolio_four.html/">4 колонки</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children current-menu-item current_page_item">
                        <a href="#">Блог</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/blog_one.html/">1 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/blog_two.html/">2 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/blog_three.html/">3 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/blog_four.html/">4 колонка</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/team.html/">Команда</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                            href="#">Страницы</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                                    href="/pages_404.html/">404 ошибка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/pages_grid.html/">Сетка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/pages_sample.html/">Типографика</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="/pages_shortcodes.html/">Элементы</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                            href="/contact.html/">Контакты</a></li>
                </ul>
            </nav>

        </div>

        <!-- Copyright -->
        <footer>
            <p class="copyright"><span>© Copyright 2014 Rayleigh</span></p>
        </footer>

    </div>

    </div>
{% endblock %}




</body></html>