{% extends "base2.html" %}
{% block architect_contact %}

    <body class="page page-template page-template-template-contact page-template-template-contact-php menu-left menu-collapsible">

    <!-- Preloader -->
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">
            <div class="windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div id="overlay"></div>

    <!-- Top header -->
    <div id="top" class="shadow">

        <!-- Sidebar button -->
        <a href="#" id="sidebar-button"></a>

        <!-- Logo -->
        <header id="logo"><a href="index.html"><img src="img/logo.svg" alt=""></a></header>

        <!-- Portfolio close button -->
        <a href="#" id="portfolio-close"></a>

    </div>

    <!-- Main wrapper -->
    <div id="main-wrapper">

        <!-- Content -->
        <div id="content" class="isotope-container">

            <!-- Fluid container -->
            <div class="container-fluid">

                <!-- Page heading -->
                <div id="heading" class="row">
                    <div class="col-12">

                        <header>
                            <h1>Контакты</h1>

                            <h2>Контактная инфомрация</h2></header>

                    </div>
                </div>

                <!-- Main content -->
                <div class="row">
                    <div class="main-column contact-page col-12">

                        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0"
                                marginwidth="0"
                                src="http://www.openstreetmap.org/export/embed.html?bbox=18.38337779045105%2C43.84814616846517%2C18.39535117149353%2C43.85269558873219&layer=hot&marker=43.85042092197647%2C18.38936448097229"
                                style="border: 1px solid black"></iframe>
                        <!-- Inner -->
                        <div class="inner">

                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-9">
                                            <h3>Tell us your opinion</h3>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec enim
                                                eros. Nam vestibulum eros a tempor posuere. Phasellus at rhoncus nulla,
                                                sed imperdiet eros. Suspendisse pellentesque dui gravida nisi mollis,
                                                fermentum sagittis ligula elementum. Nulla facilisi. Maecenas rutrum
                                                commodo ipsum, id lacinia massa. Nullam at laoreet tortor. Maecenas
                                                lacinia sed metus et lobortis.</p>
                                            <hr/>
                                            <p>

                                            <div class="wpcf7" id="wpcf7-f4-p80-o1">
                                                <div class="screen-reader-response"></div>
                                                <form action="/rayleigh-wp/light/?page_id=80#wpcf7-f4-p80-o1"
                                                      method="post" class="wpcf7-form" novalidate="novalidate">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="4"/>
                                                        <input type="hidden" name="_wpcf7_version" value="3.8"/>
                                                        <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                                                        <input type="hidden" name="_wpcf7_unit_tag"
                                                               value="wpcf7-f4-p80-o1"/>
                                                        <input type="hidden" name="_wpnonce" value="a98d635037"/>
                                                    </div>
                                                    <p>Your Name (required)<br/>
                                                        <span class="wpcf7-form-control-wrap your-name"><input
                                                                type="text" name="your-name" value="" size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"/></span></p>

                                                    <p>Your Email (required)<br/>
                                                        <span class="wpcf7-form-control-wrap your-email"><input
                                                                type="email" name="your-email" value="" size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                aria-required="true" aria-invalid="false"/></span></p>

                                                    <p>Subject<br/>
                                                        <span class="wpcf7-form-control-wrap your-subject"><input
                                                                type="text" name="your-subject" value="" size="40"
                                                                class="wpcf7-form-control wpcf7-text"
                                                                aria-invalid="false"/></span></p>

                                                    <p>Your Message<br/>
                                                        <span class="wpcf7-form-control-wrap your-message"><textarea
                                                                name="your-message" cols="40" rows="10"
                                                                class="wpcf7-form-control wpcf7-textarea"
                                                                aria-invalid="false"></textarea></span></p>

                                                    <p><input type="submit" value="Send"
                                                              class="wpcf7-form-control wpcf7-submit"/></p>

                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                </form>
                                            </div>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <h3>Our address</h3>

                                            <div class="icon-text"><i class="fa fa-map-marker"></i>

                                                <p>Street 314, 71000 Sarajevo Bosnia and Hercegovina</p></div>
                                            <div class="icon-text"><i class="fa fa-phone"></i>

                                                <p>+387 62 123-456</p></div>
                                            <div class="icon-text"><i class="fa fa-envelope-o"></i>

                                                <p><a title="Our email address" href="mailto:eric@bayguzin.ru">eric@bayguzin.ru</a>
                                                </p></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

    <!-- Collapsible sidebar -->
    <div id="sidebar">

        <!-- Widget Area -->
        <div id="widgets">

            <!-- Main menu -->
            <nav id="mainmenu">

                <ul id="menu-rayleigh-main-menu" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home"><a
                            href="index.html">Главная</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                            href="services.html">Услуги</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                            href="#">Портфолио</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="portfolio_one.html">1 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="portfolio_two.html">2 колонки</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="portfolio_three.html">3 колонки</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="portfolio_four.html">4 колонки</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                            href="#">Блог</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="blog_one.html">1 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="blog_two.html">2 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="blog_three.html">3 колонка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="blog_four.html">4 колонка</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="team.html">Команда</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                            href="#">Страницы</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                                    href="pages_404.html">404 ошибка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="pages_grid.html">Сетка</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="pages_sample.html">Типографика</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    href="pages_shortcodes.html">Элементы</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item">
                        <a href="contact.html">Контакты</a></li>
                </ul>
            </nav>

        </div>

        <!-- Copyright -->
        <footer>
            <p class="copyright"><span>© Copyright 2014 Rayleigh</span></p>
        </footer>

    </div>

    </div>
{% endblock %}


</body>