{% extends "base2.html" %}
{% block architect_pages_grid %}

    <body class="page page-template page-template-template-portfolio page-template-template-portfolio-php menu-left menu-collapsible">

    <!-- Preloader -->
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">
            <div class="windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay -->
    <div id="overlay"></div>

    <!-- Top header -->
    <div id="top" class="shadow">

        <!-- Sidebar button -->
        <a href="#" id="sidebar-button"></a>

        <!-- Logo -->
        <header id="logo"><a href="/"><img src="../../../static/architect/img/logo.svg" alt=""></a></header>

        <!-- Portfolio close button -->
        <a href="#" id="portfolio-close"></a>

    </div>

    <!-- Main wrapper -->
    <div id="main-wrapper">

        <!-- Content -->
        <div id="content" class="isotope-container">

            <!-- Fluid container -->
            <div class="container-fluid">

                <!-- Page heading -->
                <div id="heading" class="row">
                    <div class="col-12">

                        <header>
                            <h1>Сетка</h1>

                            <h2>Верстка блоков и текста</h2></header>

                    </div>
                </div>

                <!-- Main content -->
                <div class="row">
                    <div class="main-column col-12">

                        <!-- Inner -->
                        <div class="inner">

                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Full width</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam, at sodales neque
                                                lorem vel justo. Vestibulum non mauris placerat, placerat justo sit
                                                amet, aliquam lorem. Pellentesque et interdum augue. Ut ullamcorper
                                                lectus dolor, vel congue turpis placerat vel. Pellentesque quis felis ut
                                                magna sollicitudin accumsan. Fusce elementum nisl ut semper fermentum.
                                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                                ridiculus mus. Aliquam mollis quis lorem commodo tristique.</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-6">
                                            <h4>One half</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam, at sodales neque
                                                lorem vel justo. Vestibulum non mauris placerat, placerat justo sit
                                                amet, aliquam lorem. Pellentesque et interdum augue.</p>
                                        </div>
                                        <div class="col-6">
                                            <h4>One half</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam, at sodales neque
                                                lorem vel justo. Vestibulum non mauris placerat, placerat justo sit
                                                amet, aliquam lorem. Pellentesque et interdum augue.</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-4">
                                            <h4>One third</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam, at sodales neque
                                                lorem vel justo.</p>
                                        </div>
                                        <div class="col-4">
                                            <h4>One third</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam, at sodales neque
                                                lorem vel justo.</p>
                                        </div>
                                        <div class="col-4">
                                            <h4>One third</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam, at sodales neque
                                                lorem vel justo.</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-3">
                                            <h4>One quarter</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam.</p>
                                        </div>
                                        <div class="col-3">
                                            <h4>One quarter</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam.</p>
                                        </div>
                                        <div class="col-3">
                                            <h4>One quarter</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam.</p>
                                        </div>
                                        <div class="col-3">
                                            <h4>One quarter</h4>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis,
                                                nisl ut sagittis tempor, ante orci dignissim diam.</p>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>


            </div>

        </div>

        <!-- Collapsible sidebar -->
        <div id="sidebar">

            <!-- Widget Area -->
            <div id="widgets">

                <!-- Main menu -->
                <nav id="mainmenu">

                    <ul id="menu-rayleigh-main-menu" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home"><a
                                href="/">Главная</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/services.html/">Услуги</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                                href="#">Портфолио</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/portfolio_one.html/">1 колонка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/portfolio_two.html/">2 колонки</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/portfolio_three.html/">3 колонки</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/portfolio_four.html/">4 колонки</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                                href="#">Блог</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/blog_one.html/">1 колонка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/blog_two.html/">2 колонка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/blog_three.html/">3 колонка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/blog_four.html/">4 колонка</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                href="/team.html/">Команда</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children current-menu-item current_page_item">
                            <a href="#">Страницы</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a
                                        href="/pages_404.html/">404 ошибка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/pages_grid.html/">Сетка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/pages_sample.html/">Типографика</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/pages_shortcodes.html/">Элементы</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact.html/">Контакты</a>
                        </li>
                    </ul>
                </nav>

            </div>

            <!-- Copyright -->
            <footer>
                <p class="copyright"><span>© Copyright 2014 Rayleigh</span></p>
            </footer>

        </div>

    </div>

{% endblock %}

</body>