{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US" class="csstransforms csstransforms3d csstransitions">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <title>Фотограф Юлия Исакова</title>
    <link rel="shortcut icon" href={% static 'img/favicon.ico'%}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    {#   добавление на яндексе, проверка владелец я или нет#}
    <meta name='yandex-verification' content='667f965ea6f1940c' />
    {#   добавление на гугл, проверка владелец я или нет#}
    <meta name="google-site-verification" content="tyHuMs3GrkbeuYPTYo8EKHmgdBK1Mo8CmHSBKRNIev4" />


    <!-- Favicons -->
    {#    <link rel="shortcut icon" href="../static/architect/img/favicon.png">#}
    {#    <link rel="apple-touch-icon" href="../static/architect/img/apple-touch-icon.png">#}
    {#    <link rel="apple-touch-icon" sizes="72x72" href="../static/architect/img/apple-touch-icon-72x72.png">#}
    {#    <link rel="apple-touch-icon" sizes="114x114" href="../static/architect/img/apple-touch-icon-114x114.png">#}
    {#    <link rel="apple-touch-icon" sizes="144x144" href="../static/architect/img/apple-touch-icon-144-144.png">#}
    {##}
    {#    <link rel='stylesheet' id='main-css' href='../static/architect/css/style.css' type='text/css' media='all'/>#}
    {#    <link rel='stylesheet' id='reset-css' href='../static/architect/css/reset.css' type='text/css' media='all'/>#}
    {#    <link rel='stylesheet' id='bootstrap-css' href='../static/architect/css/bootstrap.min.css' type='text/css'#}
    {#          media='all'/>#}
    {#    <link rel='stylesheet' id='font-awesome-css' href='../static/architect/css/font-awesome.min.css' type='text/css'#}
    {#          media='all'/>#}
    {#    <link rel='stylesheet' id='swiper-css' href='../static/architect/css/idangerous.swiper.css' type='text/css'#}
    {#          media='all'/>#}
    {#    <link rel='stylesheet' id='style-css' href='../static/architect/css/style.css' type='text/css' media='all'/>#}
    {#    <script type='text/javascript' src='../static/architect/js/jquery.js'></script>#}
    {#    <script type='text/javascript' src='../static/architect/js/jquery-migrate.min.js'></script>#}


    <link rel="shortcut icon" href="{% static 'architect/img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'architect/img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'architect/img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'architect/img/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'architect/img/apple-touch-icon-144-144.png' %}">

    <link rel='stylesheet' id='main-css' href="{% static 'architect/css/style.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' id='reset-css' href="{% static 'architect/css/reset.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' id='bootstrap-css' href="{% static 'architect/css/bootstrap.min.css' %}" type='text/css'
          media='all'/>
    <link rel='stylesheet' id='font-awesome-css' href="{% static 'architect/css/font-awesome.css' %}" type='text/css'
          media='all'/>
    <link rel='stylesheet' id='swiper-css' href="{% static 'architect/css/idangerous.swiper.css' %}" type='text/css'
          media='all'/>
    <link rel='stylesheet' id='style-css' href="{% static 'architect/css/style.css' %}" type='text/css' media='all'/>
    <script type='text/javascript' src="{% static 'architect/js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'architect/js/jquery-migrate.min.js' %}"></script>


    <style type="text/css">.recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }</style>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Ubuntu:400,700,300&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
</head>


{% block architect_index %} {% endblock %}
{% block architect_blog_four %} {% endblock %}
{% block architect_blog_one %} {% endblock %}
{% block architect_blog_three %} {% endblock %}
{% block architect_blog_two %} {% endblock %}
{% block architect_contact %} {% endblock %}
{% block architect_pages_404 %} {% endblock %}
{% block architect_pages_grid %} {% endblock %}
{% block architect_pages_sample %} {% endblock %}
{% block architect_pages_shortcodes %} {% endblock %}
{% block architect_portfolio_four %} {% endblock %}
{% block architect_portfolio_one %} {% endblock %}
{% block architect_portfolio_three %} {% endblock %}
{% block architect_portfolio_two %} {% endblock %}
{% block architect_services %} {% endblock %}
{% block architect_team %} {% endblock %}


{##}
{#<script type='text/javascript' src='../static/architect/js/jquery.form.min.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/scripts.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/bootstrap.min.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/idangerous.swiper.min.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/masonry.min.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/jquery.isotope.min.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/custom.js'></script>#}
{#<script type='text/javascript' src='../static/architect/js/comment-reply.min.js'></script>#}

<script type='text/javascript' src="{% static 'architect/js/jquery.form.min.js' %}"></script>
<script type='text/javascript' src="{% static 'architect/js/scripts.js' %}"></script>
<script type='text/javascript' src="{% static 'architect/js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'architect/js/idangerous.swiper.min.js'%}"></script>
<script type='text/javascript' src="{% static 'architect/js/masonry.min.js'%}"></script>
<script type='text/javascript' src="{% static 'architect/js/jquery.isotope.min.js'%}"></script>
<script type='text/javascript' src="{% static 'architect/js/custom.js'%}"></script>
<script type='text/javascript' src="{% static 'architect/js/comment-reply.min.js'%}"></script>


{% block architect_portfolio_four2 %} {% endblock %}
{% block architect_portfolio_one2 %} {% endblock %}
{% block architect_portfolio_three2 %} {% endblock %}
{% block architect_portfolio_two2 %} {% endblock %}



</body>
</html>